granasat/influxdb/data/*
**/__pycache__
**/.pyc
**/.ipynb_checkpoints
granasat/server/data/**
granasat/docs/_build/**
granasat/docs/_static/**
!granasat/docs/_build/.gitkeep
!granasat/docs/_static/.gitkeep
granasat/.log
.log/